@model MvcMovie.Models.Books

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz</h1>

<h4>Książki szachowe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytuł" class="control-label"></label>
                <input asp-for="Tytuł" class="form-control" />
                <span asp-validation-for="Tytuł" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataWydania" class="control-label"></label>
                <input asp-for="DataWydania" class="form-control" />
                <span asp-validation-for="DataWydania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wydawnictwo" class="control-label"></label>
                <input asp-for="Wydawnictwo" class="form-control" />
                <span asp-validation-for="Wydawnictwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
