@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dzień dobry!</h1>
    <h2>Na tej stronie możecie Państwo znaleźć ciekawe pozycję lektury bądź filmu o tematyce szachowej. Tematyka jest bliska mojemu sercu z tego względu została stworzona strona o tej tematyce</h2>
    <p>Wiecej informacji dotyczących zawodów bądź wydarzeń aktualnych uzyskasz pod adresem <a href="https://szs.org.pl">Śląskiego Związku Szachowego</a>.</p>
</div>
